# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# esbuild cache
.esbuild/

# Editor-specific files
.vscode/
.idea/

# MacOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
